<main>
  <div class="album__container">
    <gridster
      [options]="options"
      [ngStyle]="{ background: '#80808000' }"
      class="album__photo"
    >
      <gridster-item
        [item]="item"
        *ngFor="let item of dashboard"
        class="album__photo"
      >
        <app-album-photo
          (deleteItemEvent)="removeItem($event)"
          [item]="item"
        ></app-album-photo>
      </gridster-item>
    </gridster>
    <!-- <input type="file" (change)="fileChangeEvent($event)" /> -->

    <!-- <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <img [src]="croppedImage" /> -->
  </div>
</main>
